transformers==4.57.1
tokenizers==0.20.3
huggingface_hub==0.26.2
accelerate==0.34.2
torch==2.4.1
torchaudio==2.4.1
torchvision==0.19.1
librosa==0.10.2.post1
soundfile==0.12.1
streamlit==1.42.0
pandas==2.2.3
numpy==1.26.4
imageio-ffmpeg==0.5.1
